<div class="login-page-container">
    <mat-card class="login-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Please login to application</mat-card-title>
        </mat-card-header>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="row">
                <app-email-input [controlKey]="'email'" />
            </div>

            <div class="row">
                <app-password-input [controlKey]="'password'" />
            </div>

            <div class="full-width">
                <div class="row">
                    <button matButton="filled" type="submit" [disabled]="!loginForm.valid">
                        Submit
                    </button>

                    <span class="register-link">
                        Don't have an account yet?
                        <button matButton="text" type="button" routerLink="/auth/register">Register</button>
                    </span>

                </div>
            </div>
        </form>
    </mat-card>

</div>