<div class="login-page-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" (blur)="updateErrorMessage()"
                required />
            @if (loginForm.get("email")?.invalid) {
            <mat-error>{{errorMessage()}}</mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput p laceholder="Password" formControlName="password" required
                [type]="hide() ? 'password' : 'text'" />
            <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (loginForm.get("password")?.invalid) {
            <mat-error>Password is required</mat-error>
            }
        </mat-form-field>

        <button matButton="filled" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </form>

</div>