<mat-form-field class="full-width">
    <mat-label>{{ label }}</mat-label>

    <input matInput placeholder="Password" [formControlName]="controlKey" [type]="hide() ? 'password' : 'text'"
        (blur)="updateErrorMessage()" />
    <button matIconButton type="button" matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>


    @if (parentFormGroup.get(controlKey)?.invalid) {
    <mat-error>{{ errorMessage() }}</mat-error>
    }
</mat-form-field>