<app-form-field-wrapper [controlKey]="controlKey" [label]="label" [errorMessage]="errorMessage">

    <input matInput placeholder="Password" [formControlName]="controlKey" required [type]="hide() ? 'password' : 'text'"
        (blur)="updateErrorMessage()" />
    <button matIconButton type="button" matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

</app-form-field-wrapper>