.create-task-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.create-task-card {
  min-width: 500px;
  padding: 10px 20px;
}
.row {
  display: flex;
  flex-direction: column;
}

.register-link {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.create-task-form {
  padding: 16px;
}
